# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
**/mvnw
**/mvnw.cmd

# IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.bak

# Spring Boot
*.pid
*.seed
